/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


body{
	background-color:$color-background;
	font-family:$font_body;
	article{
		margin-left:20px;
		margin-top:0;
		.entry-content{
			p{
				color:$body-color;
				font-weight:lighter;
			font-size:1.3rem;
			}
		
		}
	.entry-title{
		font-weight:lighter;
		display:inline;
	}
	}
}

button{
	background-color: $color-background;
    border: 2px solid $source-link;
    border-radius: 3px;
    color: $source-link;
    font-size: 1rem;
    font-weight: 700;
	line-height: 1;
	margin-top:50px;
	font-family:$font_body;
	// padding: 1rem 5.25rem;

}

.button-container{
	margin-left:50px;
}


@media(min-width:620px){
body{
background-color:$color-background;
font-family:$font_body;

article{
	margin-left:50px;
	margin-top:50px;
	color:$body-color;

.entry-content{
	p{
		font-size:1.5rem;
		font-weight: lighter;
	}


}
.entry-meta{
	.entry-title{
		display:inline;
		font-size:1.3rem;
		
	}
	.source{
		font-size:1.3rem;
		font-weight:lighter;
		font-style: italic;
	}
	h2{
	font-weight:lighter;
	}
}

}

button{
	background-color: $color-background;
    border: 2px solid $source-link;
    border-radius: 3px;
    color: $source-link;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
	padding: 1rem 5.25rem;
	margin-top:50px;
}






}

}






@media(min-width:1080px){



.site{

width:1080px;
margin:0 auto;
}



.search-form{
	display:flex;
}

body {
	background-color: $color-background;
	font-family:$font_body;
	font-weight:lighter;
	max-width: 100vw;
	@include flex-center;
  }
  .logo {
	@include flex-center;

  }
  /*Front-Page*/
  .home,.single-post,.page{
	.post {
	@include flex-center;
	  flex-direction: column;

	  .entry-content {
		font-size: 1.5rem; 
		width:650px;
		margin-top:50px;


		p {
			font-size: 2rem; 
		  margin-bottom: 0px;
		  position: relative;
		}
		:before {
		@include before-button-position;
		}
		:after {
		  color: $source-link;
		  content: "\f10e";
		  font-family: FontAwesome;
		  right: -130px;
		  position: absolute;
		  top: 0;
		  font-size: 125px;
		}
	  }
	
	}
}
	.entry-meta {
		font-weight: none;
		width: 50%;
		margin-right:110px;
		margin-top:30px;
		.entry-title{
			display:inline;
			font-weight: lighter;
			color:$body-color;
			font-size:$font-size-main;
			font-weight:400;
			span {
			  margin-left: 10px;
			}
			
	
		}
		.source{
			
			color:white;
			font-size:$font-size-main;
	
	
			
			a{
				text-decoration: none;
				color:$source-link;
				font-size:$font-size-main;
				font-style:italic;
			}
			a:hover{
				color:$color__link-hover;
			}
		}
	  }

  








.entry-content{
	width:650px;
	color:$body-color;
	

	
	p{
		font-size:2.5rem;
		line-height:1$font__line-height-body;


	}
}





button{
	background-color: $color-background;
    border: 2px solid $source-link;
    border-radius: 3px;
    color: $source-link;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
	padding: 1rem 5.25rem;
	margin-top:50px;
	

}

.button-container{
	text-align:left;
	margin-left:214px;

}








.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}



.page-template-default{
	
	.entry-title{
		color:$body-color;
	}



  .entry-header{
	:before {
		color: $source-link;
		content: "\f10d";
		font-family: FontAwesome;
		left: 90px;
		position: absolute;
		top: 250px;
		font-size: 125px;

	  }
	  :after {
		color: $source-link;
		content: "\f10e";
		font-family: FontAwesome;
		right: 110px;
		position: absolute;
		top: 250px;
		font-size: 125px;
	  }
  }
}
}

















