
/*--------------------------------------------------------------
HEADER 
--------------------------------------------------------------*/


.site-header{
	margin-top:2.5em;
.logo{
	width:300px;
	margin-left:10px;



}
}




@media(min-width:620px){

.site-header{
	margin-top:2.5em;
.logo{
	width:500px;
	margin-left:20px;



}
}
}



@include desktop{
.site-header{
	margin-top:2.5em;
.logo{
	width:700px;
	margin: 0 auto;



}
}
}

